#this file contains sensitive information like django secret key
#edit this according to your requirement

def django_secret_key():
    key=''
    return key


def oauth_secrets():
    consumer_key = ""
    consumer_secret = ""
    access_token = ""
    access_token_secret = ""
    return [consumer_key, consumer_secret, access_token, access_token_secret]
