#this file contains sensitive information like django secret key
#edit this according to your requirement

class Django_Secrets:
    def __init__(self):
        self.key = ''


class Oauth_Secrets:
    def __init__(self):
        self.consumer_key = ""
        self.consumer_secret = ""
        self.access_token = ""
        self.access_token_secret = ""
