{% extends 'base.html' %}
{% block body %}
    <div class="row">
        <div id="input_hastag" class="col s12">
            <form method="get" action="{% url 'input' %} ">
                <div class="input-field col s4 m3 l2 offset-s2 offset-m2 offset-l2">
                    <label for="{{ input_hastag.q.id_for_label }}">Input Hashtag:</label>
                    {{ input_hastag.q }}
                </div>
                <br>
                <button class="btn waves-effect waves-light" type="submit">Analyse
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    </div>
{% endblock %}
